# FastAPI Backend
fastapi
uvicorn[standard]
python-multipart
pydantic

# Environment Configuration
python-dotenv

# AI / Embeddings
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
sentence-transformers

# Vector Database
qdrant-client

# HTTP Client
requests